h2, a {
    margin-left: 1rem;
    font-family: "Roboto"
}

#login, #register {
    text-align: center;
    font-size: 1.5rem;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}


.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }